# Importing Library

In [1]:
import pandas as pd
import numpy as np

# Import Dataset

In [2]:
names = ['x1' , 'x2' , 'x3' , 'x4' , 'class']
df = pd.read_excel(r'C:\Users\bhavy\OneDrive\Desktop\SEM 3\MACHINE LEARNING\iris dataset.xlsx' , names=names)
df

      x1   x2   x3   x4      class
0    5.1  3.5  1.4  0.2     Setosa
1    4.9  3.0  1.4  0.2     Setosa
2    4.7  3.2  1.3  0.2     Setosa
3    4.6  3.1  1.5  0.2     Setosa
4    5.0  3.6  1.4  0.2     Setosa
..   ...  ...  ...  ...        ...
145  6.7  3.0  5.2  2.3  Virginica
146  6.3  2.5  5.0  1.9  Virginica
147  6.5  3.0  5.2  2.0  Virginica
148  6.2  3.4  5.4  2.3  Virginica
149  5.9  3.0  5.1  1.8  Virginica

[150 rows x 5 columns]

# Creating Classes

In [3]:
set_class = set(df['class'])
set_class

{'Setosa', 'Versicolor', 'Virginica'}

In [4]:
val = [i+1 for i in range (len(set_class))]
mapping = dict(zip(set_class,val))
mapping

{'Setosa': 1, 'Virginica': 2, 'Versicolor': 3}

In [5]:
df1 = df.replace({'class' : mapping})
df1.head()

    x1   x2   x3   x4  class
0  5.1  3.5  1.4  0.2      1
1  4.9  3.0  1.4  0.2      1
2  4.7  3.2  1.3  0.2      1
3  4.6  3.1  1.5  0.2      1
4  5.0  3.6  1.4  0.2      1

# Data Training

In [6]:
iris_ds_array = df1.to_numpy()
iris_data_array = iris_ds_array[0:150 , 0:4]

In [7]:
tr1 = iris_data_array[0:40,:] #3
tr2 = iris_data_array[50:90,:] #2
tr3 = iris_data_array[100:140,:] #1

ts1 = iris_data_array[40:50 , :] 
ts2 = iris_data_array[90:100 , :]
ts3 = iris_data_array[140:150 , :]

In [8]:
train_array = np.concatenate((tr1, tr2, tr3))

In [9]:
cluster_1_mean = np.mean(tr1 , axis = 0)
cluster_2_mean = np.mean(tr2 , axis = 0)
cluster_3_mean = np.mean(tr3 , axis = 0)

In [10]:
test_array = np.concatenate((ts1, ts2, ts3))

In [11]:
chk1 = iris_ds_array[40:50 , 4]
chk2 = iris_ds_array[90:100 , 4]
chk3 = iris_ds_array[140:150 , 4]
array_chk = np.concatenate((chk1, chk2 ,  chk3))
arr_chk = array_chk.astype('int32')
arr_chk

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2])

# Data Testing

In [17]:
lst = []
def test_feature(tst):
    dst_cluster_1 = np.array(np.sqrt(np.sum(np.square(np.subtract(cluster_1_mean , tst)))))
    dst_cluster_2 = np.array(np.sqrt(np.sum(np.square(np.subtract(cluster_2_mean , tst)))))
    dst_cluster_3 = np.array(np.sqrt(np.sum(np.square(np.subtract(cluster_3_mean , tst)))))

    if dst_cluster_1 < dst_cluster_2 and dst_cluster_1 < dst_cluster_3:
        lst.append(1)
        #print("BELONGS TO IRIS SETOSA")
    elif dst_cluster_2 < dst_cluster_3 and dst_cluster_2 < dst_cluster_1:
        lst.append(3)
        #print("BELONGS TO IRIS VERSICOLOR")
    else:
        lst.append(2)
        #print("BELONGS TO IRIS VIRGINICA")
for i in range(len(test_array)):
    test_feature(test_array[i])

In [18]:
output_array = np.array(lst)
output_array = output_array.astype('int32')
output_array

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2,
       3, 2, 2, 2, 2, 2, 2, 2])

In [19]:
correct = 0
incorrect = 0
for i in range(len(arr_chk)):
    if arr_chk[i] == output_array[i]:
               correct+=1
               
accuracy = (correct/len(output_array))*100
incorrect = len(arr_chk)-correct

print('correct = ',correct,': incorrect = ', incorrect)
print('Accuracy percentage of the algorithm is = ', accuracy)

correct =  29 : incorrect =  1
Accuracy percentage of the algorithm is =  96.66666666666667